.addTodo {
    box-sizing: border-box;
    position: absolute;
    bottom:0;
    pointer-events: none;

    width:100%;
    background: #29B6F6;
    padding: 110px 0 43px ;

    height:200px;
    background: linear-gradient(to top, #ffffff, rgba(242, 242, 242, 0.0))
}

.addTodo__input-wrapper {
    box-sizing: border-box;
    display: block;
    width:320px;
    position: relative;
    margin: 0 auto;

}

.addTodo__input {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width:0;
    min-height: 46px;
    outline:none;
    border: none;
    z-index: 2;
    pointer-events: initial;
    padding:0;

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #8d8c8c;

    border-radius: 100px;
    background-color: #ffffff;
    transition: all .8s;
    float:right;


}

.addTodo__input_visible {
    width:100%;
    box-shadow: 0 2px 14px 3px rgba(0, 0, 0, 0.15);

    transition: all .8s;
    padding: 14px 74px 14px 33px;
}

.addTodo__btn {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    width:46px;
    height:46px;
    z-index: 2;
    pointer-events: initial;

    position: absolute;
    right:0;
    top:0;


    background: url('../img/plus.svg') no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}