body {
    background: #CFD8DC;
}
.todoApp__wrapper {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;

    width:400px;
    min-height: 400px;

    padding: 0;
    box-shadow: 0 3px 12px #90A4AE;
    text-align: center;
}