.Header {
    display: block;
    box-sizing: border-box;
    width:100%;
    margin:0;
    background: #fff;
    text-align: center;
    font-size: 16px;
    min-height: 128px;
    font-family:'Arial',sans-serif;
    border-bottom: 1px solid #ededed;
    /*box-shadow: 0 2px 14px 3px rgba(0, 0, 0, 0.15);*/


}

.Header__title {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #020202;
    padding: 37px 0 25px;
    margin:0;
}

.Header__filter {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height:18px;
    text-align: center;
    color: #8d8c8c;
    margin:0;
    padding: 0 54px 0 36px;
}


.Header__link {
    color: #8d8c8c;
    text-decoration: none;
    width:86px;
    display: inline-block;

}

.Header__link:nth-child(2) {
    margin-right: 25px;
}

.Header__link_active {
    color: #a15bcd;
}