.TodoList {
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: 50px 0 150px;

    width:100%;
    height: 540px;
    overflow: scroll;
    margin:0;
    background: #ECEFF1;

    text-align: center;
    list-style: none;
}


.TodoList__item {
    position: relative;
    display: block;
    box-sizing: border-box;

    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
    text-align: left;
    color: #8d8c8c;
    line-height:58px;
    padding: 0 55px;


}

.TodoList__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);

    width: 15px;
    height: 14px;
    border-radius: 3px;
    border: solid 1px #8d8c8c;

}

.TodoList__item:hover::before {
    border: solid 1px #3023AE;
}



.TodoList__item.TodoList__item_completed::before {
    position: absolute;
    top: 50%;
    left: 24px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    background: url('../img/chek.svg');
    border: none;
}

.TodoList__item__btn-close {
    display: none;
    width: 12px;
    height:11px;

    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);

    background: url('../img/cancel.svg') no-repeat;
    cursor: pointer;

}


.TodoList__item:hover .TodoList__item__btn-close {
    display: block;
}

.TodoList__item__btn-close:hover {
    background: url('../img/cancel_hover.svg') no-repeat;
}